# Godot
.import/
export.cfg
export_presets.cfg
*.tmp
*.translation
.mono/
data_*/
mono_crash.*.json

# Godot C# / .NET
.godot/
*.csproj.user
bin/
obj/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.user
